@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Playfair+Display:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-luxury: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --color-gold: #D4AF37;
  --color-gold-light: #F9DF9F;
  --color-gold-dark: #B5952F;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
